---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/HeroSection.astro";
import FeaturesSection from "../components/FeaturesSection.astro";
import AboutSection from "../components/AboutSection.astro";
import PricingSection from "../components/PricingSection.astro";
import TestimonialsSection from "../components/TestimonialsSection.astro";
import FaqSection from "../components/FaqSection.astro";
import CtaSection from "../components/CtaSection.astro";
import FooterSection from "../components/FooterSection.astro";
---

<Layout>
  <div class="bg-[#f1eee6] w-full flex flex-col">
    <HeroSection />
    <FeaturesSection />
    <AboutSection />
    <PricingSection />
    <TestimonialsSection />
    <FaqSection />
    <CtaSection />
    <FooterSection />
  </div>
</Layout>
